Assignment - 30th Jan'23

Questions and Solutions.



Q1.Write a program to accept percantage from the user and display the grade according to the followig criteria:

In [2]:
marks = int(input("Please Enter Your Percentage : "))

if marks > 100:
    print("Sorry Your input is invalid,Please Enter Your Percentage between 0 to 100")
    
elif marks > 90:
    print("Your Grade is A")
    
elif marks > 80 and marks <= 90:
    print("Your Grade is B")
    
elif marks >= 60 and marks <= 80:
    print("Your Grade is C")
    
elif marks < 60:
    print("Your Grade is D")
    
else:
    print("You Can Check Your Percentage Here with Valid Inputs")

Please Enter Your Percentage : 99
Your Grade is A

Q2.Write a program to accept the cost price of a bike and display the road tax to be paid according to the following criteria:

In [3]:
price = int(input("Please Enter Your Cost Price of a Bike : "))

if price > 100000:
    print("The road tax to be paid is 15%")
    
elif price > 50000 and price <= 100000:
    print("The road tax to be paid is 10%")
    
elif price <= 50000:
    print("The road tax to be paid is 5%")

Please Enter Your Cost Price of a Bike : 55000
The road tax to be paid is 10%

Q3.Accept any city from the user and display monuments of that city.

In [4]:
city = input("Enter City : ")
city1 = city.title()

if city1 == "Delhi":
    print("The monument of Delhi is Red Fort")
    
elif city1 == "Agra":
    print("The monument of Agra is Taj Mahal")
    
elif city1 == "Jaipur":
    print("The monument of Jaipur is Jal Mahal")
    
else:
    print("Invalid Input.\nPlease Enter City Delhi, Agra and Jaipur only.")

Enter City : Delhi
The monument of Delhi is Red Fort

Q4.Check how many times a given number can be divided by 3 before it is less than or equal to 10.

In [5]:
num = int(input("Enter Your Number : "))
count = 0

while num >= 10 and num % 3 == 0:
    num = num/3
    count = count + 1

count

Enter Your Number : 999999

3

Q5.Why and When to Use while Loop in Python give a detailed description with example?

A while loop in Python is used to repeatedly execute a block of code as long as a certain condition is met.

The condition is evaluated before each iteration of the loop. If the condition is True, the code inside the loop is executed, and the process repeats until the condition is False.

If the condition is False from the start, the code inside the loop is not executed at all.

In [6]:
# Example:

n = 10

while n >= 0 :
    print(n)
    n = n - 1

10
9
8
7
6
5
4
3
2
1
0

In [ ]:
n

In above example,we let n = 10 and we are passing it in while loop with a condition , when n is greater than or equal to 0 then print n and decrement n by 1.

So,in first iteration it prints 10 and decremented by 1 to become n = 9,in second iteration it prints 9 and decremented by 1 to become n  = 8 and so on.

But whenever n is less than 0,then condition becomes false and Python interpreter will exit the while loop.

Q6.Use nested while loop to print 3 different pattern.

This is my pattern number one.

In [10]:
rows = int(input("Enter number of rows: "))

for i in range(rows, 0, -1):
    for j in range(0, i):
        print("* ", end=" ")
    print("\r")

Enter number of rows: 5
*  *  *  *  *
*  *  *  *
*  *  *
*  *
*

Now,this is my pattern number two.

In [11]:
i=1
while i<=5:
    j=1
    while j<=i:
        print(j,end=" ")
        j=j+1
    print("\r")
    i=i+1

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

And the third pattern is -

In [12]:
rows = int(input("Enter number of rows: "))

for i in range(rows,1,-1):
    for space in range(0, rows-i):
        print("  ", end="")
    for j in range(i, 2*i-1):
        print("* ", end="")
    for j in range(1, i-1):
        print("* ", end="")
    print()

Enter number of rows: 6
* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

Q7.Reverse a while loop to display numbers from 10 to 1.

In [8]:
n = 10

while n > 0 :
    print(n)
    n = n-1

10
9
8
7
6
5
4
3
2
1

Q8.Reverse a while loop to display numbers from 10 to 1.

In [9]:
n = 10

while n > 0 :
    print(n)
    n = n-1

10
9
8
7
6
5
4
3
2
1